*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.carousel-inner img {
    width: 100%;
    height: 98vh;
  }
  .aboutimg{
      width: 100%;
      height: 250px!important;
  }
  body.footer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 100vh;
      flex-direction: column;
      background: #ede7f6;
  }
  footer{
      position: relative;
      width: 100%;
      height: auto;
      padding: 50px 100px;
      background: #111;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  footer .container .sec{
      margin-left: 30px;
  }
  footer .container .sec .aboutus{
      width: 40%;
  }
  footer .container  h2{
      position: relative;
      color: #fff;
      font-weight: 500;
      margin-bottom: 15px;
  }
  footer .container h2:before{
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 50px;
      height: 2px;
      background: #f00;
  }
  footer p{
      color: #999;
  }
  .sci{
      margin-top: 20px;
      display: flex;
  }
  .sci li{
      list-style: none;
  }
  .sci li a{
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #222;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      text-decoration: none;
      border-radius: 4px;
  }
  .sci li a:hover{
      background: #f00;
  }
  .sci li a .fa{
      color: #fff;
      font-size: 20px;
  }
  .quicklinks{
      position: relative;
      width: 25%;
  }
  .quicklinks ul li{
      list-style: none;
  }
  .quicklinks ul li a{
      color: #999;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
  }
  .quicklinks ul li a:hover{
      color: #fff;
  }
  .contact{
      width: calc(35%  60px);
      margin-right: 0 !important;
  }
  .contact info{
      position: relative;
  }
  .contact .info li{
      display: flex;
      margin-bottom: 16px;
  }
  .contact .info li span:nth-child(1){
      color: #fff;
      font-size: 20px;
      margin-right: 10px;
  }
  .contact .info li span{
      color: #999;
  }
  .contact .info li a{
      color: #999;
      text-decoration: none;
  }
  .contact .info li a:hover{
      color: #fff;
  }
.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
.menu__link{
    font-size: .8em;
}
.moreText{
    display: none;
}
.read-more-btn{
    padding: 15px 60px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49,49);
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
.text.show-more .moreText{
    display: inline;
}
.text.show-more .dots{
    display: none;
}
@media (max-width:991px) {
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec .aboutus, .quicklinks,.contact{
        width: 100%;
    }
    .copyrightText{
        
        padding: 8px 40px;
       
    }
    
}

/*-- team --*/
.tab1 .team-img-w3-agile{
    background: url(../images/teamb1.jpg) no-repeat 0px 0px;
}
.tab2 .team-img-w3-agile{
    background: url(../images/teamb2.jpg) no-repeat 0px 0px;
}
.tab3 .team-img-w3-agile{
    background: url(../images/teamb1.jpg) no-repeat 0px 0px;
}
.tab4 .team-img-w3-agile{
    background: url(../images/teamb1.jpg) no-repeat 0px 0px;
}
.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile{
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 360px;
    width: 27%;
    margin-left: 4em;
}
.team-info-agileits{
    text-align: left;
    padding: 4em 0 0 3em;
}
.team-info-agileits h4{
    font-size: 25px;
    letter-spacing: 1px;
}
.team-info-agileits span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7d7a7a;
}
.team-info-agileits p{
    font-size: 16px;
    letter-spacing: .5px;
    color: #337ab7;
    line-height: 30px;
    margin: 1.5em 0 1em;
}
.resp-tabs-list li{
opacity: .5;
}
.resp-tabs-list li {
    padding: 11px 10px;
}
li.resp-tab-item.resp-tab-active{
    opacity: 1;
}
ul.resp-tabs-list{
    margin-left: 15em;
}
ul.resp-tabs-list{
    margin-left: 17em;
}
ul.resp-tabs-list {
    margin-left: 11.5em;
}
ul.resp-tabs-list {
    margin-left: 5em;
}
ul.resp-tabs-list {
    margin-left: 4.5em;
}
.resp-tabs-list li img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius:100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}
.resp-tabs-list li img {
    border-radius: 100%;
    width: 85%;
    margin: 0 auto;
}
.team{
    padding: 100px 0px;
}
h3.title-w3-agileits{
    font-size: 2.4em;
    margin-bottom: .8em;
}
h3.title-w3-agileits{
    font-size: 3em;
    color: #FFF;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 1em;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
}
h3.title-w3-agileits{
    font-size: 2.3em;
}
h3.title-w3-agileits {
    font-size: 2.1em;
}
h3.title-w3-agileits {
    font-size: 2em;
    letter-spacing: 2px;
}
h3.title-w3-agileits {
    font-size: 1.8em;
}
h3.title-w3-agileits {
    font-size: 1.6em;
}
h3.title-w3-agileits {
    font-size: 1.5em;
}
h3.title-w3-agileits {
    font-size: 1.4em;
    line-height: 33px;
}
.title-black-wthree{
    color: #0f2453 !important;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team{
    margin: 75px 0;

}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
h1:after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

/* Hapa ndo zengwe lilipoanza */
.profile{
    margin: 25px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box:after{
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}
.img-box a{
    color: #fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
color: #007bff;
border: 1px solid #007bff;
}
.img-box :after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}
.img-box{
    border-radius: 50%;
}


/* scroll To Top Button */

#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
#btnScroolToTop:active{
    background: #cc2333;
}
